body {
  margin-top: 4rem;
}

nav {
  padding-right: 3rem;
  background-color: rgb(34, 87, 100);
}

nav .navbar-brand img {
  background-size: 10%;
}

.gokil {
  background-color: red;
  height: 1cm;
  width: 0.2cm;
}

.gokil2 {
  background-color: red;
  height: 0.7cm;
  width: 0.2cm;
}

.halaman {
  margin-top: 4rem;
}

footer {
  background-color: rgb(34, 87, 100);
  width: 100%;
  height: 5cm;
}

form {
  margin: 0 3cm;
}
